[submodule "dotvim/bundle/syntastic"]
	path = dotvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotvim/bundle/tagbar"]
	path = dotvim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotvim/bundle/sessionman"]
	path = dotvim/bundle/sessionman
	url = https://github.com/vim-scripts/sessionman.vim.git
[submodule "dotvim/bundle/clang_complete"]
	path = dotvim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
	ignore = dirty
